#workspace
.metadata
.recommenders
appcompat_v7

#eclipse 
**/*.settings/
**/*.classpath
**/*.project
**/*~
**/*~

#maven
target/

#AStudio
Client/app/build/
Client/.idea/
Client/local.properties
Client/.gradle/
Client/*.iml
